.form-modal {
	.open-modal {						
		background: $primary-color;				
		margin: 0;				
	}
	input[type="submit"] {
		width: 162px;
		height: 48px;
		text-indent: -9999px;
		background-image: url('../images/search.svg');
		background-repeat: no-repeat;
		background-position: 70px;

	}
}
.modal-bg {
	background:transparent !important;	
	text-align:center;
}