.tab {
	padding-top: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	margin: auto;
	@include grid-row(); 	
	
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;


.tabs {
	
	position: relative;
	padding-left: 60px;
	padding-right:60px;	
	margin: 0;
	width: 100%;
	border:transparent;
	margin-left: 0px;
	li {
		a {
			color: #4a4a4a;
			font-weight: normal;
			font-size: 15px;
			float: left;
			padding-left: 45px;
			padding-right: 45px;
			padding-top: 16px;
			padding-bottom: 16px;
			box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5);
			border-radius:50px;
			margin-left: 7px;
		}
		a:active {
			background-color: #474c54 !important;
  			box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5);			
  			color:$white;
		}
		a:focus {
		   	background-color: #474c54 !important;
  			box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5);			
  			color: $white;
		}
		a:target {
		    background-color: #474c54 !important;
  			box-shadow: 0 0 3px 0 rgba(128, 128, 128, 0.5);			
  			color: $white;
		}		
	}
}

.tabs_item {
	display: none;
	padding: 30px 0;
	.item-div {
		margin-bottom: 30px;
	}
	.free {
		margin-bottom: 222px;
	}
	h4 {
		text-align: left;
		font-weight: bold;
		color: #4a4a4a;
    	font-size: 20px;
    	margin-bottom: 30px;
	}
	a {
		float: left;
		padding-left: 55px;
		padding-right:55px;
		padding-top: 17px;
		padding-bottom: 17px;
		background-color: #7f98f6;
		box-shadow: 0 0 4px 0 rgba(128, 128, 128, 0.5);
  		margin-right: 40px;
	}
	
	.busy {
		h4 {
			text-align: left;
			font-weight: bold;
			color: #4a4a4a;
	    	font-size: 20px;
	    	margin-bottom: 30px;
	}
		a {
			float: left;
			padding-left: 55px;
			padding-right:55px;
			padding-top: 17px;
			color: #4a4a4a;
			font-weight: 400;
			padding-bottom: 17px;
			background-color: #f2f4fa;
  			box-shadow: 0 0 4px 0 rgba(128, 128, 128, 0.5);
	  		margin-right: 40px;
		}
	}
	&:first-child {display: block;}
}


}