.form-modal {
	.open-modal {						
		background: $primary-color;				
		margin: 0;				
	}
	input[type="submit"] {
		width: 121px;
		height: 48px;
		text-indent: -9999px;
		background-image: url('../images/search.svg');
		background-repeat: no-repeat;
		background-position: 50px;

	}
}
.modal-bg {
	background:transparent !important;	

	.close-modal {		
			position: absolute;
			top: 0px;
			z-index: 1;				
			background: $white;
			border:1px solid $white;				
			padding: 10px;
			border-radius: 40px;	
			margin-left: 650px;
			line-height: 0px;		
			transition:0.5s;
		i {
			font-size: 20px;
			color: $primary-color;
			transition: 1s;
			
		}
		&:hover {			
			i {
				transform: rotate(190deg);
			}
		}
	} 
}