.transparent-header {
	@include grid-row();	
	margin-bottom: 188px;
	.header-padding {
		margin-top: 51px;
		.logo-section {
			z-index: 1;
			display: flex;
			float: left;
			img {
				z-index: 1;
			}
			a {
				z-index: 1;
				display: flex;	
				color: $white !important;		
				h2 {
					margin-top: 0px;
					margin-left: 10px;
					font-size: 29px;
					font-weight: 400;
					font-family: $font-family;
				}
			}
			@include breakpoint(xs-small only) {
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					float: none;
					margin-left: 60px;
					margin-bottom: 20px;
				}  	
		}	
		@include breakpoint(small only) {
		    width: 100%;
		    text-align: center;
		    margin-bottom: 100px;
		}    		
	}	
}	
